{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">


      <div class="box">
        .col-md-8
        <h3>Map Area</h3>
      </div>


    </div>
    <div class="col-md-4">

        <div class="box-wrap">
            <div class="smallbox">
            .col-md-4
            <h3>Today Section</h3>
            </div>
            <h2>Day 2</h2>
            <div class="smallbox">
            .col-md-4
             <h3>Other Widget</h3>
             My Hotel
               <ul>
               <li> hotel xyz</li>
               </ul>
            My Rest
               <ul>
               <li> rest xyz</li>
               </ul>
            My Actives
               <ul>
               <li> Actives xyz</li>
               </ul>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}