<html>
  <head>
    <title> Northwind</title>

    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'></link>


  </head>
  <body>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/">Home</a></li>

        </ul>

        </div>
      </div>
  </nav>

      {% block content %}
      {% endblock %}



<div class="footer">
      <div id="foot">
        <p class="muted credit">footer links and whatnot. can't seem to get a sticky footer...</p>
      </div>
  </div>

  </body>


 <script href='jquery/jquery.min.js'></script>
</html>