<html>
  <head>
    <title> Northwind</title>

    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'></link>

    <link rel='stylesheet' href='/static/stylesheets/local.css'></link>


  </head>
  <body>

  <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/static/Animals-Octopus-icon.png">
        </a>

        <p class="navbar-text navbar-left"><a href="#" class="navbar-link">octopus planning </a></p>

        </div>
      </div>
  </nav>

      {% block content %}
      {% endblock %}



<div class="footer">
      <div id="foot">
        <p class="muted credit">footer links and whatnot. can't seem to get a sticky footer...</p>
      </div>
  </div>

  </body>


 <script href='jquery/jquery.min.js'></script>
</html>